asgiref==3.2.10
astroid==2.4.2
Babel==2.8.0
bcrypt==3.2.0
cffi==1.14.2
colorama==0.4.3
cryptography==3.1
Django==3.1
django-formtools==2.2
django-otp==0.9.4
django-phonenumber-field==3.0.1
django-two-factor-auth==1.12.1
isort==5.4.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
phonenumbers==8.12.9
pycparser==2.20
pygame==1.9.6
pylint==2.6.0
python-dotenv==0.14.0
pytz==2020.1
qrcode==6.1
six==1.15.0
toml==0.10.1
wrapt==1.12.1
