<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/new_combo.css' %}">
    <title>PwS New Combo</title>
</head>
<body>
    <div id='wrapper'>
        <div class="header">
            {% load static %}
                <h1 class='title' >
                    <img src="{% static 'images/vaultlogo.png' %}" alt="vault" 
                    style="position: relative; bottom: 15px;">

                    Password Safe
                </h1>
        </div>
        <div class='middle_col'>
            <h2>Add a New Email Address</h2>
            <div class='form'>
                {% if messages %}
                <ul class='errors'>
                    {% for err in messages %}
                    <li class='errors'>* {{ err }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="/proccess/combo/edit/{{combo.id}}" method="POST">
                    {% csrf_token %}
                    <div class='form_row'>
                        <label for="accountName">Account Name:</label>
                        <input type="text" name='accountName' value={{combo.accountName}}>
                    </div>
                    <div class='form_row'>
                        <label for="email">Email: </label>
                        <select name="email" id="">
                            <option value={{combo.email.id}}>{{combo.email.email}}</option>
                            {% for email in all_emails %}
                            <option value={{email.id}}>{{email.email}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class='form_row'>
                        <label for="password">Password:</label>
                        <select name="password" id="">
                            <option value={{combo.password.id}}>{{combo.password.password}}</option>
                            {% for pass in all_passwords %}
                            <option value={{pass.id}}>{{pass.password}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="Submit" class='form_button'>
                </form>
            </div>
        </div>
    </div>
</body>
</html>