<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Password Safe Login</title>
</head>
<body>
    <div id='wrapper'>
        <div class="header">
            <h1 class='title' >
                <img src="{% static 'images/vaultlogo.png' %}" alt="lock" 
                style="position: relative; bottom: 15px;">
                Password Safe
            </h1>
            <div class="nav_bar1">
                <a href="http://127.0.0.1:8000/home" class='navbar_link'>Home</a> |&nbsp;
                <a href="http://127.0.0.1:8000/add/email" class='navbar_link'>Add New Email</a> |&nbsp;
                <a href="http://127.0.0.1:8000/add/password" class='navbar_link'>Add New Password</a>
            </div>
            <div class="nav_bar2">
                <a href="http://127.0.0.1:8000/new/combo" class='navbar_link'>Add Combo</a> |&nbsp;
                <a href="http://127.0.0.1:8000/logout" class='navbar_link'>Logout</a>
            </div>
        </div>
        <div class='middle_col'>
            <div class='block-spacer'>
            </div>
            {% if all_combos %}
            <h2>Your Credentials</h2>
                <table>
                        <th>Account</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Actions</th>
                        {% for key, value in all_combos.items %}
                        <tr>
                            <td>
                                {{value.0}}
                            </td>
                            <td>
                                {{value.1}}
                            </td>
                            <td>
                                {{value.2}}
                            </td>
                            <td class='block'>
                                <a href="http://127.0.0.1:8000/combo/edit/{{key}}" class='block'>Edit</a> 
                                <p class='hidden'> / </p>
                                <a href="http://127.0.0.1:8000/combo/delete/{{key}}" class='block'>Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>