<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <title>Registration</title>
</head>
<body>
    <div id='wrapper'>
        <div class="header">
            {% load static %}
                <h1 class='title' >
                    <img src="{% static 'images/vaultlogo.png' %}" alt="vault" 
                    style="position: relative; bottom: 15px;">

                    Password Safe
                </h1>
        </div>
        <div class='middle_col'>
            <h2>Registration</h2>
            <div class='form'>
                {% if messages %}
                <ul class='errors'>
                    {% for err in messages %}
                    <li class='errors'>* {{ err }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="/register" method="POST">
                    {% csrf_token %}
                    <div class='form_row'>
                        <label for="f_name">First Name:</label>
                        <input type="text" name="f_name" id="">
                    </div>
                    <div class='form_row'>
                        <label for="l_name">Last Name:</label>
                        <input type="text" name="l_name" id="">
                    </div>
                    <div class='form_row'>
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="">
                    </div>
                        <p>* Password must be at least 8 characters</p>
                    <div class='form_row'>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="">
                    </div>
                    <div class='form_row'>
                        <label for="confirm_pw">Confirm Password</label>
                        <input type="password" name='confirm_pw'>
                    </div>
                    <input type="submit" value="Register" class='form_button'>
                </form>
                <a href="http://127.0.0.1:8000/login">Already Registered?</a>
            </div>
        </div>
    </div>
</body>
</html>