*{
    margin: 0px;
    padding: 0px;
}

@media only screen and (min-width: 1025px){

#wrapper{
    /* background-image: url("../images/goldvaultdoor.jpg"); */
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.header{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: auto;
    padding-top: 35px;
}


img{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}



.middle_col{
    width: 70%;
    background-color: white;
    margin: auto;
    height: 100vh;
}

.title{
    margin:auto;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    width: 60%;
    margin:auto;
    text-align: center;
    /* border: solid 5px;
    border-color: #1ac8f3; */
    padding: 15px;
}

h2{
    text-align: center;
    padding: 20px;
}

.form_row{
    display: block;
    margin: 20px;
}

label{
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%
}

input{
    display: inline-block;
    height: 30px;
    font-size: 25px;
}

p{
    text-align: center;
    margin: auto;
    width: 100%;
}

.form_button{
    height: fit-content;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

.errors{
    list-style-type: none;
    color: red;
    margin: 10px;
}

a{
    text-decoration: none;
    font-size: 20px;
    margin-top: 40px;
}

a:hover{
    text-decoration: underline;
}

}

@media only screen and (min-width: 0px) and (max-width: 412px){

#wrapper{
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: rgb(255, 255, 255);
    max-height: 100%;
}

.header{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: auto;
    padding-top: 35px;
}


img{
    width: 55px;
    height: 55px;
    display: block;
    margin: auto;
    /* vertical-align: middle; */
}

.middle_col{
    width: 100%;
    background-color: white;
    margin: auto;
    height: 100vh;
    max-height: 100%;
}

.title{
    margin:auto;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    width: 95%;
    margin:auto;
    text-align: center;
    /* border: solid 2px; */
    /* border-color: #1ac8f3; */
    max-height: 100%;
}

h2{
    text-align: center;
    padding: 20px;
    font-size: 28px;
}

.form_row{
    display: block;
    margin: 20px;
}

label{
    display: block;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%
}

input{
    display: inline-block;
    height: 30px;
    font-size: 22px;
}

p{
    text-align: center;
    margin: auto;
    width: 100%;
}

.form_button{
    height: fit-content;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;;
}

.errors{
    list-style-type: none;
    color: red;
    margin: 10px;
}

a{
    text-decoration: none;
    font-size: 20px;
    margin-top: 40px;
}

a:hover{
    text-decoration: underline;
}

}

@media only screen and (min-width: 412px) and (max-width: 770px){

#wrapper{
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: rgb(255, 255, 255);
    max-height: 100%;
}

.header{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: auto;
    padding-top: 35px;
}


img{
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
    /* vertical-align: middle; */
}

.middle_col{
    width: 100%;
    background-color: white;
    margin: auto;
    height: 100vh;
    max-height: 100%;
}

.title{
    margin:auto;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    width: 95%;
    margin:auto;
    text-align: center;
    /* border: solid 2px; */
    /* border-color: #1ac8f3; */
    max-height: 100%;
}

h2{
    text-align: center;
    padding: 20px;
    font-size: 32px;
}

.form_row{
    display: block;
    margin: 20px;
}

label{
    display: block;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%
}

input{
    display: inline-block;
    height: 30px;
    font-size: 22px;
}

p{
    text-align: center;
    margin: auto;
    width: 100%;
}

.form_button{
    height: fit-content;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.errors{
    list-style-type: none;
    color: red;
    margin: 10px;
}

a{
    text-decoration: none;
    font-size: 20px;
    margin-top: 40px;
}

a:hover{
    text-decoration: underline;
}

}


@media only screen and (min-width: 770px) and (max-width: 1024px){

#wrapper{
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: rgb(255, 255, 255);
    max-height: 100%;
}

.header{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: auto;
    padding-top: 35px;
}


img{
    width: 90px;
    height: 90px;
    display: block;
    margin: auto;
    /* vertical-align: middle; */
}

.middle_col{
    width: 100%;
    background-color: white;
    margin: auto;
    height: 100vh;
    max-height: 100%;
}

.title{
    margin:auto;
    text-align: center;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    width: 95%;
    margin:auto;
    text-align: center;
    /* border: solid 2px; */
    /* border-color: #1ac8f3; */
    max-height: 100%;
}

h2{
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

.form_row{
    display: block;
    margin: 20px;
}

label{
    display: block;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%
}

input{
    display: inline-block;
    height: 30px;
    font-size: 34px;
}

p{
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 32px;
}

.form_button{
    height: fit-content;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 40px;
    font-size: 22px;
}

.errors{
    list-style-type: none;
    color: red;
    margin: 10px;
}

a{
    text-decoration: none;
    font-size: 30px;
    margin-top: 60px;
}

a:hover{
    text-decoration: underline;
}

}

